<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My app</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        My app
        <button class="face" id="load_file">Cargar Archivo</button>
        <button class="face">Peticiones</button>
        <button class="face">Ayuda!</button>
    </header>

    <div class="second">
        <button id="send_file">Enviar</button>
        <button id="reset">Reset</button>
    </div>

    

    <div class="third">
        <textarea  id="space1" cols="120" rows="28"></textarea>
        <textarea  id="space2" cols="120" rows="28"></textarea>
    </div>

    <div class="fourth">
        Entrada-Salida
    </div>
    
</body>
</html>